<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XXXServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61067/XXXService.asmx"
                binding="basicHttpBinding" bindingConfiguration="XXXServiceSoap"
                contract="ServiceReference1.XXXServiceSoap" name="XXXServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>