<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SimplexSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60358/Simplex.asmx" binding="basicHttpBinding"
                bindingConfiguration="SimplexSoap" contract="SimplexService.SimplexSoap"
                name="SimplexSoap" />
        </client>
    </system.serviceModel>
</configuration>